.button {

}

GtkWindow {

}
GtkLabel {

} 

.StatusLabel, .LoadLabel {
  border-bottom: 1px solid #E2AD1A;
}

.StatusData, .LoadStatus {

}

.ButtonBar {
  background-color:#E2AD1A;
}

.ButtonLabel,.ButtonSeparator {
  color:#17296B;
}

.DataGrid {
  border-bottom: 1px solid #E2AD1A;
}

.level-bar.fill-block {

}

.level-bar.fill-block.empty-fill-block {
  
}

.RelayOFF {
  color: Red;

}

.RelayON {
  color: Green;
}

.buttonbox {

}
